table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
#main-content {
    border: 1px solid red;
}


.coffee-display {
    color: black;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    width: 100%;
}

li {
    list-style: none;
}